.VisorEPT {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}

.VisorEPT__video {
  padding: 1rem;
  max-width: 100%;
}

.VisorEPT__contenedor_izquierda {
  flex: 1;
}

.VisorEPT__contenedor_derecha {
  flex: 1;
}
