.GraficosIMU__contenedor_grafico {
  height: 33vh;
}

.GraficosIMU__titulo {
  font-weight: 600;
  margin-top: 1rem;
}

.GraficosIMU__tarjeta_grafico {
  background-color: #fafafa;
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .25);
  padding: 1rem;
  border-radius: .25rem;
  margin-bottom: 1rem;
}