.App {
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: white;
  color: #262626;
}

.App__contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
}