.Header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid #677371;
  position: sticky;
  top: 0;
  background: linear-gradient(darkgreen, green, darkgreen);
  color: white;
  text-shadow: 1px 1px black;
  z-index: 2;
  font-size: 1.5rem;
}