.Header {
  display: flex;
  padding: 0 1rem;
  align-items: center;
  gap: 1rem;
  height: 50px;
  border-bottom: 1px solid #677371;
  position: sticky;
  top: 0;
  background: linear-gradient(darkgreen, green, darkgreen);
  color: white;
  text-shadow: 1px 1px black;
  z-index: 2;
  width: 100%;
}

.Header__titulo {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
}

.Header__selector {
  font-size: 1.5rem;
  background-color: transparent;
  border: none;
  text-shadow: 1px 1px black;
  color: white;
  cursor: pointer;
}

.Header__selector option {
  font-size: 1.5rem;
  cursor: pointer;
  background-color: darkgreen;
}