.PerfilPaciente {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}

.PerfilPaciente__superior {
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.PerfilPaciente__foto {
  height: 120px;
  width: 120px;
  clip-path: circle(50% at 50% 50%);
  margin-right: 1rem;
}

.PerfilPaciente__nombre {
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: .5rem;
  font-size: 1.15rem;
}

.PerfilPaciente__subtitulo {

}

.PerfilPaciente__contenedor_diagnostico {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.PerfilPaciente__titulo_diagnostico {
  text-transform: uppercase;
  font-size: .8rem;
  margin-bottom: .25rem;
}