.HistorialPaciente {
  margin: 1.5rem 0;
  display: flex;
  flex-direction: column;
}

.HistorialPaciente__titulo {
  text-transform: uppercase;
  font-size: .85rem;
  margin-bottom: .25rem;
  text-align: center;
}